.topbar-container {
	height: 50px;
	width: 100%;
	background-color: #1877f2;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
}

.topbar-left {
	flex: 3;
}

.topbar-logo {
	font-size: 24px;
	margin-left: 20px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}

.topbar-center {
	flex: 5;
}

.topbar-searchbar {
	width: 100%;
	height: 30px;
	background-color: #fff;
	border-radius: 30px;
	display: flex;
	align-items: center;
}

.topbar-search-icon {
	font-size: 20px !important;
	margin-left: 10px;
}

.topbar-search-input {
	border: none;
	width: 70%;
}

.topbar-search-input:focus {
	outline: none;
}

.topbar-right {
	flex: 4;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #fff;
}

.topbar-links {
}

.topbar-link {
	margin-right: 10px;
	font-size: 14px;
	cursor: pointer;
}

.topbar-icons {
	display: flex;
	margin-top: 8px;
}

.topbar-icon-item {
	margin-right: 15px;
	cursor: pointer;
	position: relative;
}

.topbar-icon-badge {
	height: 15px;
	width: 15px;
	background-color: red;
	color: #fff;
	border-radius: 50%;
	position: absolute;
	top: -5px;
	right: -5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}

.topbar-profile-image {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}
